.block-main
   .main__group-info
      .info__left-box
         .box__group text
         .box__member masa
      =link_to "#", class: "info__edit-btn" do
         .info__edit-btn Edit 
   .main__message-list
      .message__box
         .message__info
            
            .user__name 水野
            .user__date 2019/12/31(Thu)10:56:00
         .message__text おはよう
         .message__info
            
            .user__name 水野
            .user__date 2019/12/31(Thu)10:56:00
         .message__text おはよう
   .main__messageform 
      %form.__message
         .text__box
            .text type  a message
            
            
         
            .image__icon
               
            %label{class: "image__icon"}
               = icon('fas', 'image')
               %input{type: "file"}
                  
               
            
               
         =link_to "#", class: "btn" do
            .btn__sent Sent