.side-bar
   .side-bar__user_name
      .user-name__top-items
         .top-items__name水野
         .top-items__icon
            .icon__left
               = link_to "#", class: "contents__btn" do
                  = icon('fas', 'edit')
            .icon__right
               = link_to "#", class: "contents__btn" do
                  =icon('fas', 'cog')
   .side-bar__group-List
      .group
         .group__name teckcamp
         .group__latest-message まだメッセージがありません
   
      .group
         .group__name teckcamp
         .group__latest-message まだメッセージがありません